.country {
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    color: gray;
    font-weight: 500;
    border: red 1px solid;
    display: inline-block;
    margin: 0 5px;
}